@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.drawer-side > .hidden {
  pointer-events: none;
  overflow-y: hidden;
  visibility: hidden;
}